VITE_SUPABASE_URL=https://wcsbyzenlydqobayftwl.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indjc2J5emVubHlkcW9iYXlmdHdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM5MzcwMTcsImV4cCI6MjA1OTUxMzAxN30.rH6kj-Qt07W-n8U-hYmLTztpzl5t1qvraXHckTXLWx0